<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Formular</title>
  </head>
  <body>
    <form method="post" action="/willkommen">
        <label for="username">Bitte Ihren Namen eingeben:</label>
        <input id="username" type="text" name="username">
        <button>Absenden</button>
    </form>
  </body>
</html>
